.hero-gradient {
    background: linear-gradient(rgba(27, 26, 85, 0.9), rgba(27, 26, 85, 0.8)), url('/assets/image/hero_section/sekolah1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-title {
    border-bottom: 3px solid #1B1A55;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.table-bordered {
    border: 2px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}